---
- name: Install Docker  # noqa: schema[playbook]
  hosts: personal:work:selfhost
  become: true
  become_method: sudo
  become_user: root
  vars_prompt:
    - name: "ans_pass"
      prompt: "Enter Ansible sudo Password"
      private: true
  vars:
    ansible_become_password: "{{ ans_pass }}"
  tasks:
    - name: Install Prerequisites
      become: true
      ansible.builtin.package:
        name:
          - apt-transport-https
          - ca-certificates
          - curl
          - gnupg
          - lsb-release
        state: present

    - name: Ensure keyrings directory exists
      become: true
      ansible.builtin.file:
        path: /etc/apt/keyrings
        state: directory
        mode: '0755'

    - name: Download and dearmor Docker GPG key  # noqa: command-instead-of-module risky-shell-pipe
      become: true
      ansible.builtin.shell: |
        curl -fsSL https://download.docker.com/linux/ubuntu/gpg \
        | gpg --dearmor -o /etc/apt/keyrings/docker.gpg
      args:
        creates: /etc/apt/keyrings/docker.gpg
      changed_when: true

    - name: Set docker key permissions
      become: true
      ansible.builtin.file:
        path: /etc/apt/keyrings/docker.gpg
        mode: '0644'

    - name: Add Docker Repo
      become: true
      ansible.builtin.apt_repository:
        repo: deb [arch=amd64 signed-by=/etc/apt/keyrings/docker.gpg] https://download.docker.com/linux/ubuntu mantic stable
        state: present

    - name: Install Docker
      become: true
      ansible.builtin.apt:
        name:
          - docker-ce
          - docker-ce-cli
          - containerd.io
          - docker-compose-plugin
        state: present
